/**
* Author: Sarah Conway
* Sarah Conway URI: http://sarahconway.com/
* All padding: 0 0 0 0; and margin: 0 0 0 0; definitions are top, right, bottom, left specifications, respectively.
*
*/

@import url("https://fonts.googleapis.com/css?family=Slabo+27px");

/* Button */

	.button {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 14px;
		display:inline-block;
		text-decoration:none;
		text-align: center;
		text-transform: uppercase;
		background: #fff;
		border: 1px solid #d9d9d9;
		color: #454545;
		font-weight: 700;
		padding: 1em;
		width: 100%;
		transition: all 0.3s ease 0s;
	}

	.button p {
		margin-bottom: 0;
	}

	.button:hover {
		background-color: #4D7A2A;
		color: #fff;
	}
	.button:active {
		position:relative;
		top:1px;
	}

	.button.quicklinks {
		padding: 0;
	}

	.button.quicklinks:hover {
		background-color: #e0e0e0;
		color: #454545;
	}

	.button.quicklinks p {
		padding: .5em;
	}

	.button.footer {
		border: none;
	}
